body {
  margin: 0;
}

.plotDiv {
  background-color: #7f0000;
}
#scene,
#plot {
  width: 90%;
  height: 90%;
}

/* SVG styling */
svg {
  font-family: helvetica, sans-serif;
}

path,
line {
  stroke: #777;
}

.dg .c select {
  margin-top: 4px;
  color: black;
}

svg {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
}

path.domain {
  stroke: none;
}

.y .tick line {
  stroke: #ddd;
}